<app-add-task-form></app-add-task-form>

<div class="task-list">
  <mat-form-field>
    <mat-label>Filter by status</mat-label>
    <mat-select [(ngModel)]="selectedStatus">
      <mat-option *ngFor="let status of taskStatuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="task-stats">
    <span *ngFor="let stat of taskStats">{{ stat._id }}: {{ stat.count }}</span>
  </div>

  <mat-expansion-panel hideToggle *ngFor="let task of getFilteredTasks()" >
    <mat-expansion-panel-header>
      

      <mat-panel-title>
        {{ task.title }}
      </mat-panel-title>
      <mat-panel-description>
        {{ task.status }}
      </mat-panel-description>
      <div class="datetime">
        {{task.updatedAt | date:'shortTime' }}
      </div>
    </mat-expansion-panel-header>
    <p>{{ task.description }}</p>
    
    <mat-action-row>
        <button mat-button color="primary" (click)="openEditTaskDialog(task._id)">Edit</button>
        <button mat-button color="warn" (click)="deleteTask(task._id)">Delete</button>
    </mat-action-row>

  </mat-expansion-panel>
</div>
