<mat-toolbar color="primary">
  <div class="toolbar-container">
    <a routerLink="/">To-Do List</a>
    <a routerLink="/management/users">Users</a>
    <ng-container *ngIf="!authService.isLoggedIn(); else loggedInTemplate">
      <div class="right-menu">
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/register">Register</a>
      </div>
    </ng-container>
    <ng-template #loggedInTemplate>
      <div class="right-menu">
        <span>{{ authService.user.username }}</span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="/dashboard">Profile</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </ng-template>
  </div>
</mat-toolbar>
