mat-expansion-panel{
    margin: 2em 25%; 
    margin-top: 5em
}
mat-form-field{
    margin-right: 1em;
    width: 100%;
}
mat-panel-title{
    font-size: 18px;
}
.forms{
    display: flex;
    justify-content: space-around;
    align-items: stretch;

}
.button-div{
    display: flex;
    justify-content: flex-end;
}